/* Header */
header {
  position: fixed;
  justify-content: space-around;
  z-index: 30;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.75rem;
}

/* Notch */
.new-notch {
  user-select: none;
  background-color: #c1c1c166;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  gap: 1rem;
  position: fixed;
  right: -75px;
  transform: rotate(0deg);
  bottom: 5%;
  padding: 0.5rem 0.8rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 1px 1px 5px -1px #000;
  transition: 0.3s ease-in;
}
.new-notch:hover > i {
  transform: rotate(180deg);
  transition: 0.3s ease-in;
}
.new-notch:hover {
  right: 0px;
  transition: 0.3s ease-out;
}
.new-notch-icons {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.new-notch-icons i {
  cursor: pointer;
}

/* Text Color Animation */
.typed {
  /* animation: color-change 1s infinite; */
}
@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}
/*  */

/* Font-Size */
.title {
  /* font-family: fontB; */
  font-size: 2.5rem;
}
@media (min-width: 475px) {
  .grid-container {
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(6, 5.5rem);
  }
}
@media (min-width: 624px) {
  .grid-container {
    grid-template-columns: repeat(5, 6.5rem);
    grid-template-rows: repeat(5, 6rem);
    gap: 1rem;
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 2.75rem;
  }
  .grid-container {
    grid-template-columns: repeat(6, 7rem);
    grid-template-rows: repeat(4, 6.5rem);
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 3rem;
  }
  .grid-container {
    grid-template-columns: repeat(6, 7.2rem);
    grid-template-rows: repeat(4, 6.7rem);
  }
}
@media (min-width: 1280px) {
  .title {
    font-size: 3.25rem;
  }
}

/* About Image Media */
@media (min-width: 640px) {
  .about-image {
    content: url("../images/stickers/point.png");
  }
  .edu-image {
    content: url("../images/stickers/edu.png");
  }
  .contact-image {
    content: url("../images/stickers/mail.png");
  }
}
@media (max-width: 640px) {
  .about-image {
    min-width: 9rem;
  }
}

::-webkit-scrollbar {
  width: 5px;
  position: absolute;
}
::-webkit-scrollbar-track {
  background: #7c7c7c75;
  position: absolute;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
body:hover::-webkit-scrollbar-thumb {
  background: #a03ffa;
}
.card:hover::-webkit-scrollbar-thumb {
  background: #a03ffa;
}
